@charset "UTF-8";
@import "../../common/scss/common";

body {
    header {
        height: 80px;
        border: solid 1px black;
    }
}

.m-layer {
    position: absolute;
    width: 12rem;
    height: 12rem;
    background-color: white;
}