@import "./pc";
@import "./sprites";
@import "./mixin";



//page页码
.m-grid-page {
	// & { @extend  .clearfix;}
	line-height: 22px;
	@extend %clearfix; 
	font-size: $fs14;
	min-width: 950px;
	span,
	div,
	a {
		float: left;
		margin:0 4px;
		font-size: $fs14;
		color: $color2;
	}
	.select {
		border: 1px solid $border3;
		max-width: 30px;
		border-radius: 3px;
		// text-align: center;
	}
	.select-group {
		position: relative;
		.select {
			text-indent: 4px;
			line-height: 20px;
		}
		.icon {
			@include mix-input-xiala;
			position: absolute;
			top: 10px;
			right: 2px;
		}
		.items {
			position: absolute;
			border: 1px solid $border3;
			border-bottom: none;
			width: 100%;
			z-index: 5;
			max-height: 160px;
			overflow: auto;
			position: absolute;
			top: -120px;
			left: 0;
			li {
				cursor: pointer;
				text-align: center;
				&:hover {
					background:$bg5
				}
			}

		}
	}
	
	.first,
	.prev,
	.next,
	.last,
	.goTo {
		border: 1px solid $border3;
		border-radius: 3px;
		padding: 0 10px;
		&:hover {
			border: 1px solid $bg8;
			color: $color7;
		}
		&.gray {
			cursor: not-allowed;
			&:hover {
				color: $color2;
				border: 1px solid $border3;
			}
		}
	}

	.page {
			input {
	            border: 1px solid $border3;
	            text-align: center;
	            margin: 0 4px;
	            line-height: 20px;
				&:focus {
				    border: 1px solid $bg9;
				}
			}
	}
	.first {
	    i {
	        @include mix-first-page;
	    }
	    &.gray {
	        &:hover {
	            i {
	                @include mix-first-page;
	            }
	        }
	    }
	    &:hover {
	        i {
	            @include mix-first-page-hover;
	        }
	    }
	}
	.prev {
	    i {
	        @include mix-prev;
	    }
	    &.gray {
	        &:hover {
	            i {
	                @include mix-prev;
	            }
	        }
	    }
	    &:hover {
	        i {
	            @include mix-prev-hover;
	        }
	    }
	}
	.next {
	    i {
	        @include mix-next;
	    }
	    &.gray {
	        &:hover {
	            i {
	                @include mix-next;
	            }
	        }
	    }
	    &:hover {
	        i {
	            @include mix-next-hover;
	        }
	    }
	}
	.last {
	    i {
	        @include mix-last-page;
	    }
	    &.gray {
	        &:hover {
	            i {
	                @include mix-last-page;
	            }
	        }
	    }
	    &:hover {
	        i {
	            @include mix-last-page-hover;
	        }
	    }
	}
	.goTo {
	    &.gray {
	        &:hover {
	            i {
	                @include mix-goto;
	            }
	        }
	    }
	    i {
	        @include mix-goto;
	        padding-right: 5px;
	    }
	    &:hover {
	        i {
	            @include mix-goto-hover;
	        }
	    }
	}
}

//日历-年
.m-calendar-year {
	width: 289px;
	border: 1px solid $border13;
	color: $color2;
	.change {
		width: 100%;
		display: table;
		background: $bg12;
		line-height: 30px;
		height: 30px;
		font-weight: 600;

		span{
			display: table-cell;
			text-align: center;
			i {
				border: 6px  solid transparent;
				display: inline-block;
			}
			.arrow-left {
				border-right: 6px solid $color2;
			}
			.arrow-right {
				border-left: 6px solid $color2;
			}
		}
	}

	.list {
		ul {
			width: 100%;
			display: table;
			text-align: center;
			font-size: $fs14;
			font-weight: 600;

			li {
				display: table-cell;
				height: 73px;
			
				span {
					box-sizing: border-box;
					border-radius: 6px;
					position: relative;
					display: inline-block;
					line-height: 72px;
					height: 72px;
					width: 72px;
					&.active {
						color: $color4;
						border: 1px solid $border11;
						&:after {
	           				content: "";
							width: 8px;
							height: 8px;
							background: $border11;
							position: absolute;
							border-radius: 50%;
							top: 50px;
							right: 32px;
						}
					}
					&.gray{
						color: $color9;
					}
					&:hover{
						background: $border5;
						cursor: pointer;
					}
				}
			}
		}
	}
}