@charset "UTF-8";
/* 图片版本号 在image-path函数中调用 */
$image-ver: 201606121032;

/* 非标注中的序号的颜色，以00开始编号，保证数字编号与设计图标注的标号一致。*/

/* 背景颜色 */
/*$bg01: #000000;*/

/* 字体颜色 */
/* $color00: #000000; */


/* 字体大小 */
/* 字体序号数字为rem值的小数，即1.8rem则为$font_size_8 */
$fs07: 0.7rem;
$fs09: 0.9rem;
$fs10: 1rem;
$fs11: 1.1rem;
$fs12: 1.2rem;
$fs13: 1.3rem;
$fs14: 1.4rem;
$fs15: 1.5rem;
$fs16: 1.6rem;
$fs17: 1.7rem;
$fs18: 1.8rem;
$fs19: 1.9rem;
$fs20: 2rem;
$fs24: 2.4rem;
$fs30: 3rem;
$fs34: 3.4rem;

/* 边框颜色 */
/* $border1: #ffffff; */
